@use 'variables' as *;

.message {
  align-items: center;
  background-color: #f3f5f9;
  border-radius: $main-border-radius;
  display: flex;
  flex-direction: column;
  height: 210px;
  justify-content: space-between;
  max-width: 186px;
  padding: 2.8rem 1.4rem 1.4rem;
  position: relative;
  width: 100%;

  button {
    background-color: white;
    border-radius: $main-border-radius;
    padding: 0.8rem;
  }

  p {
    width: 100%;
  }

  > p {
    font-size: 0.67em;
    text-align: center;
  }

  > span {
    align-items: center;
    background-color: #f3f5f9;
    border-radius: 37px;
    display: flex;
    height: 74px;
    justify-content: center;
    left: calc(50% - 37px);
    position: absolute;
    top: -37px;
    width: 74px;

    > span {
      align-items: center;
      background-color: white;
      border-radius: 24px;
      display: flex;
      height: 48px;
      justify-content: center;
      width: 48px;
    }
  }
}
